<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBM8Oc-xfrdd_UYjZCWmrj8k2Ed1c5Dhn4</string>
	<key>GCM_SENDER_ID</key>
	<string>310002637071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>come.bits.femflow</string>
	<key>PROJECT_ID</key>
	<string>femflow-562ea</string>
	<key>STORAGE_BUCKET</key>
	<string>femflow-562ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310002637071:ios:cc0661c23c019a1b3f067a</string>
</dict>
</plist>