<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bits.femflow">

    <!-- Permissions for reading and writing external storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- Scoped Storage permission for Android 10 and above -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:targetApi="30"/>

    <application
        android:name=".MainApplication"
        android:label="your_app_name"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|direction|uiMode|screenLayout|density|translation"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>